@import url('https://fonts.googleapis.com/css?family=Pacifico');

@import url('https://fonts.googleapis.com/css?family=Acme');

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

html {
  min-height: 100%;
  position: relative;
}

body {
	width: 100%;
	color: white;
	text-align: justify;
	background-color: #F3F2F1;
  	margin-bottom: 400px;
}

nav a {
	color: #FFFFFF;
	text-decoration: none;
	background-color: #303F9F;
}

nav a:hover {
	background-color: #303F9F !important;
	color: #FFC107;
}

nav {
	background-color: #303F9F;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	padding-left: 1%;
}

ul {
	display: inline-block !important;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #303F9F;
	min-width: 160px;
	text-decoration: none;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 12px 16px;
	z-index: 1;
}

.dropdown-content a {
	text-decoration: none;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.logo {
	margin-top: 1%;
	background-color: #F3F2F1;
	width: 100%;
	height: 120px;
	justify-content: center;
}

.row {
	width: 100%;
}

.logo img {
	width: 100%;
	min-width: 100px;
}

.logo span {
	color: #303F9F;
}

.noticias {
	justify-content: center;
	text-align: center;
}

.noticias img {
	width: 100%;
}

.eventos img {
	padding: 10px;
	float: left;
	width: 30%;
	min-width: 150px;
}

.noticias p {
	text-align: justify;
}

.noticias p, h3 {
	color: black;
}

.eventos p, h4 {
	color: black;
}

.eventos img {
	width: 100%;
}

.eventos p {
	text-align: justify;
}

footer {
	background-color: #303F9F;
	position: absolute;
	bottom: 0;
	width: 100%;
	color: white;
	margin-top: 100%;
	padding-top: 20px;
	padding-bottom: 10px;
}

footer p {
	margin-top: 2.5%;
	color: white;
}

footer .icons, footer .menu{
	  list-style-type: none;
	
}
footer .menu{
	margin-top: 5px;
	margin-left:38%;
	text-align: center;
	
}



footer .icons  li {
	 display:inline;
     padding-left:3px;
     padding-right:3px;
     margin-right: 2%;
     
}

footer .fab {
	font-size: 35px;
}
.participa {
	margin-top: 2%;
	margin-bottom: 2%;
	text-align: center;
}

.participa img {
	width: 100%;
}

.titulos {
	margin-left: 2%;
	color: black;
}

.noticias .titulos {
	margin-bottom: 2%;
}

@media ( max-width :700px) and (min-width:500px) {
	.noticias h3 {
		font-size: 20px;
	}
}

.eventos .col-lg-8 {
	padding: 0px;
}

.eventos .col-lg-4 {
	padding: 0px;
}

/* -- Formulario participa -- */


#formContainer .container {
	position: relative;
	background-color: white;
	text-align: center;
	width: 60%;
	border: 1px solid #ccc;
	margin-top: 10%;
	padding: 5%;
	-webkit-box-shadow: 10px 10px 5px 2px rgba(209, 209, 209, 0.5);
	-moz-box-shadow: 10px 10px 5px 2px rgba(209, 209, 209, 0.5);
	box-shadow: 10px 10px 5px 2px rgba(209, 209, 209, 0.5);
}



a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

.opcion {
	margin: 1%;
	margin-left: 2%;
	border: 1px solid #ccc;
	border-radius: 16px;
	transition: width 1s, height 1s, transform 1s;
	cursor: pointer;
	color: black;
	padding-left: 5%;
	padding-right: 5%;
}

.marcado {
	transform: scale(1.1);
	background-color: #0f65ef;
	color: #fff;
}

.seleccionado {
	background-color: #0f65ef;
	color: #fff;
}

#formContainer .boton {
	margin-top: 10px;
}


#datosPersonales .header {
	color: #36A0FF;
	font-size: 27px;
	padding: 10px;
}

#datosPersonales .bigicon {
	font-size: 27px;
	color: #303F9F;
}

/* -- Fin Formulario participa -- */

/* -- Eventos -- */
#eventosContainer .container {
	position: relative;
	background-color: white;
	text-align: center;
	width: 75%;
	border: 1px solid #ccc;
	margin-top: 10%;
	padding: 5%;
	-webkit-box-shadow: 10px 10px 5px 2px rgba(209, 209, 209, 0.5);
	-moz-box-shadow: 10px 10px 5px 2px rgba(209, 209, 209, 0.5);
	box-shadow: 10px 10px 5px 2px rgba(209, 209, 209, 0.5);
}

#eventoContainer {
	width: 60%;
	text-align: center;
	color: black;
}

/* -- Fin eventos -- */
/* Pagina elecciones nacionales*/

/* Fondo */
.modal {
	display: none; /* Oculto */
	position: fixed; /* se queda fijo en una positición */
	z-index: 1; /* Por encima de todo lo de la web */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

/* Contenido */
.contenidoModal {
	background-color: #fefefe;
	margin: 10% auto; /* 15% de la altura de margen y centrado */
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	height: 60%;
	margin-bottom: 100px;
	
	transition: margin 0.2s ease-out;
	border-radius: 14px 14px 14px 14px;
-moz-border-radius: 14px 14px 14px 14px;
-webkit-border-radius: 14px 14px 14px 14px;
border: 0px solid #000000;
}


/* Boton cerrar */
.botonCerrar {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.botonCerrar:hover, .botonCerrar:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.accordion {
	background-color: #E6E6E6;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
}
.accordion2 {
	background-color:#819FF7;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
}

.active, .accordion:hover {
	background-color: #303F9F;
	color: white;
}
.active, .accordion2:hover {
	background-color: #303F9F;
	color: white;
}

.panel {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	border: 1px solid #117FC9;
}

.enlace {
	padding-bottom: 2%;
}

.textoMiembro {
	color: black;
}

.estiloDrop {
	margin: 40px;
}

#select {
	height: 40px;
}

/* Fin Pagina elecciones nacionales*/